<div class="colors">
  <div>
    <p class="colors__p">COLORES</p>
  </div>
  <div>
    <ul>
      <li class="list">
        <div class="list__circle"></div>
        <div class="color__box box__1"></div>
        <div class="color__box box__2"></div>
        <div class="color__box box__3"></div>
      </li>
      <li class="list">
        <div class="list__circle"></div>
        <div class="color__box box__4"></div>
        <div class="color__box box__5"></div>
        <div class="color__box box__6"></div>
      </li>
      <li class="list">
        <div class="list__circle"></div>
        <div class="color__box box__7"></div>
        <div class="color__box box__8"></div>
        <div class="color__box box__9"></div>
      </li>
    </ul>
  </div>
</div>
