<article class="art2 js_fill_container collapsed js_collapse_container">
  <label for="name">
    <span class="span">Nombre completo *</span>
    <input
      class="rectangle js_input_name"
      type="text"
      name="nombre"
      id="name"
      autocomplete="name"
      placeholder=" Ej: Sally Jill"
    />
  </label>
  <label for="puesto">
    <span class="span">Promoción *</span>
    <input
      class="rectangle js_input_job"
      type="text"
      name="puesto"
      id="job"
      autocomplete="puesto"
      placeholder="Ej:Promo Trótula"
    />
  </label>

  <span class="span">Imagen de perfil *</span>

  <div class="img_button_box">
    <div class="img_button">
      <label class="add_button--link" for="photo">Añadir imagen</label>
      <input
        class="js_imageBtn imagebtn js__profile-upload-btn"
        id="photo"
        type="file"
        name="photo"
        value="Añadir imagen"
      />
    </div>
    <div class="square js__profile-image"></div>
  </div>

  <label for="mail">
    <span class="span">Email *</span>

    <input
      class="rectangle js_input_email"
      type="email"
      name="email"
      id="email"
      autocomplete="email"
      placeholder="Ej: Sally-Jill@gmail.com"
    />
  </label>
  <label for="tlf">
    <span class="span">Teléfono *</span>
    <input
      class="rectangle js_input_tel"
      type="tel"
      name="tel"
      id="tel"
      placeholder="Ej: 555-555-555"
    />
  </label>
  <label for="linkedin">
    <span class="span">Linkedin</span>
    <input
      class="rectangle js_input_linkedin"
      type="text"
      name="linkedin"
      id="linkedin"
      placeholder="Ej: linkedin.com/in/sally.jill"
    />
  </label>
  <label for="github">
    <span class="span">GitHub</span>
    <input
      class="rectangle js_input_github"
      type="text"
      name="github"
      id="github"
      placeholder="Ej: @Sally-Jill"
    />
  </label>
  <p>Todos los campos marcados con * son obligatorios</p>
</article>
