<article class="art2">
    <form class="form2" action="https://dev.adalab.es/api/form">
        <label for="name">
            <span class="span">Nombre completo </span>
            <input class="rectangle" type="text" name="nombre" id="name" autocomplete="name" required
                placeholder=" Ej: Sally Jill" />
        </label>
        <label for="puesto">
            <span class="span">Puesto</span>
            <input class="rectangle" type="text" name="puesto" id="puesto" autocomplete="puesto" required
                placeholder="Ej:Front-end unicorn" />
        </label>
        <span class="span">Imagen de perfil</span>
     <div class="add-img">
        <span class="span-img">Añadir imagen</span>

        </div>
        <label for="mail">
            <span class="span">Email </span>
            <input class="rectangle" type="email" name="mail" id="mail" autocomplete="email" required
                placeholder="Ej: Sally-Jill@gmail.com" />
        </label>
        <label for="tlf">
            <span class="span">Teléfono</span>
            <input class="rectangle" type="tel" name="tlf" id="tlf" required placeholder="Ej: 555-555-555" />
        </label>
        <label for="linkedin">
            <span class="span">Linkedin</span>
            <input class="rectangle" type="text" name="linkedin" id="linkedin" required
                placeholder="Ej: linkedin.com/in/sally.jill" />
        </label>
        <label for="github">
            <span class="span">Linkedin</span>
            <input class=" rectangle" type="text" name="github" id="github" required placeholder="Ej: @Sally-Jill" />
        </label>
</article>