<section class="share js_share_container collapsed">
  <div class="share__create">
    <button class="share__create--button disabled">
      <i class="fa-regular fa-address-card"></i>
      <a href="./img/identificacion.png"></a>CREAR TARJETA
    </button>
  </div>

  <div class="share__container">
    <p class="share__container--text">La tarjeta ha sido creada:</p>
    <p class="share__container--link">
      https://awesome-profile-card.com?id=A456df0001
    </p>
    <button class="share__container--button js_createbutton">
      <i class="fa-brands fa-twitter"></i
      ><a class="share__button--link" href="https://twitter.com/"
        >Compartir en Twitter</a
      >
    </button>
  </div>
</section>
<!--
const button = doc.querySelector()

button.classList.add('disabled')
button.disable = false;
-->
