<div class="colors js_design_container">
  <label>
    <p class="colors__p">COLORES</p>
  </label>

  <div class="main__box">
    <div class="radio__button">
      <input checked
        class="radio__check js_radio1"
        type="radio"
        id="option1"
        name="options"
        value="option1"
      />
      <div class="color__list">
        <div class="color__box box__1"></div>
        <div class="color__box box__2"></div>
        <div class="color__box box__3"></div>
      </div>
    </div>
    <div class="radio__button">
      <input
        class="radio__check js_radio2"
        type="radio"
        id="option2"
        name="options"
        value="option2"
      />
      <div class="color__list">
        <div class="color__box box__4"></div>
        <div class="color__box box__5"></div>
        <div class="color__box box__6"></div>
      </div>
      <div class="radio__button">
        <input
          class="radio__check js_radio3"
          type="radio"
          id="option3"
          name="options"
          value="option3"
        />
        <div class="color__list">
          <div class="color__box box__7"></div>
          <div class="color__box box__8"></div>
          <div class="color__box box__9"></div>
        </div>
      </div>
    </div>
  </div>
</div>
