<section class="section__form">
  <form class="form" action="">
    <fieldset class="fieldset">
      <legend class="fieldset__div js_design_legend">
        <i
          class="fa-regular fa-object-ungroup element-icon"
          style="color: #e17334"
        ></i>
        <h3 class="div__title">Diseña</h3>
        <i class="fa-solid fa-chevron-down js-rotate"></i>
      </legend>
      <include src="./card-section-form-design.html"></include>
    </fieldset>

    <fieldset class="fieldset">
      <legend class="fieldset__div js_fill_legend">
        <i class="fa-solid fa-keyboard element-icon" style="color: #e17334"></i>
        <h3 class="div__title">Rellena</h3>
        <i class="fa-solid fa-chevron-down js-rotate"></i>
      </legend>
      <include src="./card-section-form-fill.html"></include>
    </fieldset>
    <fieldset class="fieldset">
      <legend class="fieldset__div js_share_legend">
        <i
          class="fa-sharp fa-solid fa-share-nodes element-icon"
          style="color: #e17334"
        ></i>
        <h3 class="div__title">Comparte</h3>
        <i class="fa-solid fa-chevron-down js-rotate"></i>
      </legend>
      <include src="./card-section-form-share.html"></include>
    </fieldset>
  </form>
</section>
