<div class="colors">
  <div>
    <p class="colors__p">COLORES</p>
  </div>
  <div>
    <div class="colors">
      <div>
        <p class="colors__p">COLORES</p>
      </div>
      <div class="main__box">
          <div class="radio__button">
            <input class="radio__check" type="radio" />
            <div class="list">
              <div class="color__box box__1"></div>
              <div class="color__box box__2"></div>
              <div class="color__box box__3"></div>
            </div>
          </div>
          <div class="radio__button">
              <input class="radio__check" type="radio" />
              <div class="list">
                <div class="color__box box__4"></div>
                <div class="color__box box__5"></div>
                <div class="color__box box__6"></div>
              </div>
            </div>
            <div class="radio__button">
              <input class="radio__check" type="radio" />
              <div class="list">
                <div class="color__box box__7"></div>
                <div class="color__box box__8"></div>
                <div class="color__box box__9"></div>
              </div>
            </div>
      </div> 
    </div>
  </div>
</div>
