<section class="share js_share_container collapsed js_collapse_container">
  <div class="share__create">
    <button class="share__create--button">
      <i class="fa-regular fa-address-card"></i>
      <a class="create-link js_createbutton" href="./img/identificacion.png">CREAR TARJETA</a>
    </button>
    <p class="error-message js-create-error"></p>
  </div>

  <div class="share__container collapsed js_share_section">
    <p class="share__container--text">La tarjeta ha sido creada:</p>
    <a class="share__container--link js_card-link" href=""></a>
    
    <button class="share__container--button js_createbutton">
      <i class="fa-brands fa-twitter"></i
      ><a class="share__button--link twitter-share-button js_twitter-link" href=""
        >Compartir en Twitter</a
      >
    </button>
  </div>
</section>