<section class="landingpage">
    <img class="landingpage__img" src="./assets/images/logo-awesome-profile-cards.svg"/>
    <article class="landingpage__text">
        <p class="landingpage__text--title">Crea tu tarjeta de visita</p>
        <p class="landingpage__text--paragraph">Crea mejores contactos profesionales de forma fácil y cómoda</p>
    </article>
    <article class="landingpage__icons">
        <div class="landingpage__icons--design">
            <i class="fa-regular fa-object-ungroup element-icon" style="color: #e17334;"></i>
            <p class="element-text">Diseña</p>
        </div>
        <div class="landingpage__icons--fillin">
            <i class="fa-solid fa-keyboard element-icon" style="color: #e17334;"></i>
            <p class="element-text">Rellena</p>
        </div>
        <div class="landingpage__icons--share">
            <i class="fa-sharp fa-solid fa-share-nodes element-icon" style="color: #e17334;"></i>
            <p class="element-text">Comparte</p>
        </div>
    </article>
    <a href="../create-card.html"><button class="landingpage__buttom">comenzar</button></a>
</section>