.art2 {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.span {
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 18px;
    margin: 0 0 7px;
    font-size: 1.4rem;
    color: $dark-green-blue;
}

.rectangle {
    width: 100%;
    height: 30px;
    border: solid 1px $hospital-green;
    margin-bottom: 30px;
}

.img_button {
    width: 140px;
    height: 30px;
    margin: 7px 20px 20px 0;
    border-radius: 3px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
    background-color:#e17334;
    margin-bottom: 30px;
    justify-content: center;
    text-align: center;
    border: none;
&


.add_button--link {
  width: 96px;
  height: 20px;
  font-size: 1.5rem;
  color:$white-two ;
  text-decoration: none;
}

}
 .rectangle::placeholder {

  color: $pinkish-grey;

 }

.square {
  width: 30px;
  height: 30px;
  margin: 7px 0px 20px 20px;
  border: solid 1px $hospital-green;
}

.img_button_box {
    display: flex;
    flex-direction: row;
}
.container_inputs_github{
    display: flex;
    width: 100%;
    height: 30px;
    margin-bottom: 30px;
}
.arroba{
    border: solid 1px $hospital-green;
    color: gray;
}