.design{
    display: flex;
    transform : rotate(180deg); 
    justify-content: flex-end;
}
.colors{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 20px 0 25px;
    height: 224px;
    font-size: 14px;
    padding-bottom: 40px;
    &__p{
        color: $gunmetal;
    }
}
.list{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    &__circle{
    width: 17px;
    height: 17px;
    background-color: $white-two;
    border: 1px solid $silver;
    border-radius: 50%;
}
}
.color__box{
    width: 30px;
    height: 25px;
}
.box__1{
    background-color: $dark-green-blue;
}
.box__2{
    background-color: $dirty-blue;
}
.box__3{
    background-color: $hospital-green;
}
.box__4{
    background-color: $dried-blood;
}
.box__5{
    background-color: $rusty-red;
}
.box__6{
    background-color: $tomato;
}
.box__7{
    background-color: $slate;
}
.box__8{
    background-color: $faded-orange;
}
.box__9{
    background-color: $light-grey-blue;
}
