.palette1{
    .card{
        &__info{
            border-left: 5px solid $dirty-blue;
        }
        &--name{
            color: $dark-green-blue;
        }
    }
    .card__rrss{
        .rrss__link{
            color: $dirty-blue;
            border: 2px solid $hospital-green;
        }
    }
}

.palette2 {
    .card {
        &__info {
            border-left: 5px solid $rusty-red;
        }
        &--name {
            color: $dried-blood;
        }
    }
    .card__rrss {
        .rrss__link {
            color: $rusty-red;
            border: 2px solid $tomato;
        }
    }
}

.palette3 {
    .card {
        &__info {
            border-left: 5px solid $faded-orange;
        }
        &--name {
            color: $slate;
        }
    }
    .card__rrss {
        .rrss__link {
            color: $faded-orange;
            border: 2px solid $light-grey-blue;
        }
    }
}