@import 'core/variables';
@import 'core/reset';
@import 'layout/header';
@import 'layout/landingpage';
@import 'layout/footer';
@import 'layout/form';
@import 'layout/card-section-form-share';

/*
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
*/